@model TrainingCenterLib.Entities.StatisticViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Statistics</h2>
<p>Number of Students: @Model.NumberOfStudents</p>
<p>Number of Courses: @Model.NumberOfCourses</p>
<p>Number of Instructors: @Model.NumberOfInstructors</p>

