
@*@{
    ViewBag.Title = "UsersReport";
    Layout = "~/Views/Shared/Layout2.cshtml";
}

<h1>Audit Trail Report</h1>

<button id="generateReportButton">Generate Report</button>

@section scripts {
    <script>
        document.getElementById("generateReportButton").addEventListener("click", function () {
            var url = "@Url.Action("UsersReport", "Report")";
            window.open(url, '_blank'); 
        });
    </script>
}*@